/*
* CSS › Powered by AsaUz
* CSS › Edit: 03.05.2019
* Link: https://t.me/asa_uz
*/

html body {
margin : 0;
color : white;
font-size : 1rem; /* 16px */
line-height : 1.5;
font-style : normal;
text-size-adjust: 100%;
font-family : "Times New Roman", Times, Serif;
}

*,
*:before, 
*:hover,
*:after { box-sizing : border-box; }

* {
-webkit-transition: all 0.5s ease;
transition: all 0.5s ease;
}

.box-content { box-sizing : content-box; }
.box-padding { box-sizing : padding-box; }
.box-borber { box-sizing : border-box; }
.box-inherit { box-sizing : inherit-box; }

header {
padding : 20px;
background-color : #2da3c9;
color : rgb(0, 0, 0); font-size : 1rem; /* 36px */
} header > h1 {
margin : 0;
}

footer {
padding : 10px;
background-color : rgb(0, 0, 0);
color : rgb(255, 255, 255); font-size : 1rem;
}

header, footer {
width : 100%;
align-items : center;
justify-content : center;
text-transform : uppercase;
}

/* nav */
a:link, a:visited {
padding : 14px 25px;
display : inline-block;
background-color : #f44336;
color : rgb(255, 255, 255);
text-decoration : none;
} a:hover, a:active {
background-color : #2da3c9;
text-decoration : none;
} nav {
overflow : hidden;
background-color : #333;
} nav a {
display : block;
float : left;
color : #f2f2f2;
text-decoration : none;
padding : 10px;
} nav a:hover { background : #2da3c9; color : rgb(255, 255, 255);
} nav ul, li {
list-style : none;
margin : 0;
padding: 0;
} nav li a {
display : block;
float : left;
color : #f2f2f2;
text-decoration : none;
padding : 10px;
} .active { background-color : #2da3c9; color : rgb(255, 255, 255); }
/* end › nav */

/* input */
input {
background-color : white;
color : black;
width : 35%;
border : none; border-radius : 20px;
margin : 8px 0; padding : 12px 10px;
box-sizing : border-box;
transition : width 0.2s ease-in-out;
} input:focus { width : 100%;
} textarea {
padding : 12px 20px;
width : 100%; height : 200px;
padding : 12px 20px;
box-sizing : border-box;
background-color : white;
color : black;
border : none; resize : none;
border-radius : 20px;
} select {
width : 100%;
padding : 16px 20px;
border : none;
border-radius : 20px;
background-color : #f1f1f1;
}
/* end › input */

/* background-color */
yashibg, .yashilbg, greenbg {
background-color : #00ff00;
color : rgb(255, 255, 255);
}

qorabg, .qorabg, blackbg {
background-color : rgb(0, 0, 0);
color : rgb(255, 255, 255);
}

qizilbg, .qizilbg, redbg {
background-color : rgb(255, 0, 0);
color : rgb(255, 255, 255);
}
/* end › background*/

/* text › color */
oq, .oq, .white { color : rgb(255, 255, 255); }
qora, .qora, .black { color : rgb(0, 0, 0); }
qizil, .qizil, .red { color : rgb(255, 0, 0); }
yashil, .yashil, .green { color : #00ff00; }
sariq, .sariq, .yellow { color : rgb(255, 255, 0); }
orange, .orange { color : rgb(255, 165, 0); }
kuk, .kuk, blue { color : rgb(0, 0, 255); }
okuk, .okuk { color : rgb(0, 255, 255); }
kulrang, .kulrang { color : rgb(128, 128, 128); }
pushti, .pushti { color : #FF00FF; }
/* end › color */


/* font */
/* other code */
pre,
kbd,
code,
samp, {
overflow : auto;
font-family: monospace;
background : transparent;
}

blockquote { text-indent: 30px; }

sub,
sup,
small { font-size : 80%; }

p { word-wrap: break-word; }

i, .i,
em, .em { font-style : italic; }

b, .b, bold,
strong, .strong,
header, footer,
h1, h2, h3, h4, h5, h6 { font-weight : bold; }

h1, h2, h3, h4, h5, h6 { text-transform : uppercase; }

hr {
height : auto;
border-radius : 0.625em;
margin : 1.56em 0 1.56em;
border : #404040 solid 0.0625em; }

blockquote {
margin: 0 0 20px 0; padding: 10px;
font-size: 1rem;
border-left: 8px ridge #909090;
} blockquote > .right {
margin: 0 0 20px 0; padding: 10px;
font-size: 1rem;
border-right: 8px ridge #909090;
direction : rtl;
}

mark {
color : #fff;
font-family: normal;
background : rgb(255, 0, 0); }
/* end › code*/

/* font › family */
.fserif { font-family : serif; }
.fss { font-family : sans-serif; }
.foblique { font-family : oblique; }
.fmonospace { font-family : monospace; }
/* end › family */

/* font › size */
.fs-10 { font-size : 0.625em; }
.fs-15 { font-size : 0.9375em; }
.fs-20 { font-size : 1.25em; }
.fs-30 { font-size : 1.875em; }
.fs-50 { font-size : 3.125em; }
/* end › size */

/* font › style */
.font-style-normal { font-style : normal; }
.font-style-oblique { font-style : oblique; }
/* end › style */

/* text › variant */
.font-variant-normal { font-variant: normal; }
.font-variant-small-caps { font-variant : small-caps; }
/* end › variant */

/* text › weight */
.f100 { font-weight : 100; } /* Тонкий */
.f200 { font-weight : 200; } /* Сверхлёгкий */
.f300 { font-weight : 300; } /* Лёгкий */
.f400 { font-weight : 400; } /* Такой же, как font-weight: normal; */
.f500 { font-weight : 500; } /* Средний */
.f600 { font-weight : 600; } /* Полужирный */
.f700 { font-weight : 700; } /* Такой же, как *font-weight: bold;* */
.f800 { font-weight : 800; } /* Сверхжирный */
.f900 { font-weight : 900; } /* Ультражирный */
.bold { font-weight : bold; }
.bolder { font-weight : bolder; }
/* end › weight */

/* text › align */
ong, .ong, .left {
left : 0;
text-align : left;
}

chap, .chap, .right {
right : 0;
text-align : right;
}

center, .markaz, .center {
margin : auto;
text-align : center;
align-items : center;
justify-content : center;
}

header, footer,
a:link, a:visited,
nav a { text-align : center; }

.t-justify { text-align : justify; }

.t-indent { text-indent : 0.7cm; }
/* end › align */


/* display */
.d-none { display : none; }

header,footer, section, nav, article, aside, main, menu, .d-block { display : block; }

.d-inline { display : inline; }

audio, video,
canvas,
progress { display : inline-block; }

.d-flex {display : flex; }
/* end › display */

/* flex */
.f-row {
-webkit-flex-direction: row;
flex-direction: row;
} .f-row-reverse {
-webkit-flex-direction: row-reverse;
flex-direction: row-reverse;
} .f-column {
-webkit-flex-direction: column;
flex-direction: column;
} .f-column-reverse {
-webkit-flex-direction: column-reverse;
flex-direction: column-reverse;
} .j-flex-start {
-webkit-justify-content: flex-start;
justify-content: flex-start;
} .j-flex-end {
-webkit-justify-content: flex-end;
justify-content: flex-end;
} .j-center {
-webkit-justify-content: center;
justify-content: center;
} .j-space-between {
-webkit-justify-content: space-between;
justify-content: space-between;
} .j-space-around {
-webkit-justify-content: space-around;
justify-content: space-around;
} .a-stretch {
-webkit-align-items: stretch;
-ms-align-items: stretch;
-o-align-items: stretch;
align-items: stretch;
} .a-flex-start {
-webkit-align-items: flex-start;
align-items: flex-start;
} .a-center {
-webkit-align-items: center;
-ms-align-items: center;
-o-align-items: center;
align-items: center;
} .a-baseline {
-webkit-align-items: baseline;
-ms-align-items: baseline;
-o-align-items: baseline;
align-items: baseline;
} .w-wrap {
-webkit-flex-wrap: wrap;
-ms-flex-wrap: wrap;
-o-flex-wrap: wrap;
flex-wrap: wrap;
} .w-nowrap {
-webkit-flex-wrap: nowrap;
-ms-flex-wrap: nowrap;
-o-flex-wrap: nowrap;
flex-wrap: nowrap;
} .w-wrap-reverse {
-webkit-flex-wrap: wrap-reverse;
-ms-flex-wrap: wrap-reverse;
-o-flex-wrap: wrap-reverse;
flex-wrap: wrap-reverse;
} .f-f-stretch {
-webkit-flex-wrap: wrap;
flex-wrap: wrap;
-webkit-align-content: stretch;
align-content: stretch;
} .f-flex-start {
-webkit-flex-wrap: wrap;
flex-wrap: wrap;
-webkit-align-content: flex-start;
align-content: flex-start;
} .f-flex-end {
-webkit-flex-wrap: wrap;
flex-wrap: wrap;
-webkit-align-content: flex-end;
align-content: flex-end;
} .f-f-space-between {
-webkit-flex-wrap: wrap;
flex-wrap: wrap;
-webkit-align-content: space-between;
align-content: space-between;
} .f-f-space-around {
-webkit-flex-wrap: wrap-reverse;
flex-wrap: wrap-reverse;
-webkit-align-content: space-around;
align-content: space-around;
}
/*end › flex */

/* position */
.position-static { position: static; }
.position-relative { position: relative; }
.position-fixed { position: fixed; }
.position-absolute { position: absolute; }
/* end › position */

/* float */
.fleft { float : left; }
.fright { float : right;}

.f-center {
align-items : center;
justify-content : center;
}

.ltr { direction : ltr; } .rtl { direction : rtl; }
/* end › float */

/* text › decoration */
.t-none { text-decoration : none; }
.t-overline { text-decoration : overline; }
u, ins, .t-underline { text-decoration : underline; }
del, .del, strike, .strike { text-decoration : line-through; }
/* end › decoration */

/* text › transform */
.t-capitalize { text-transform : capitalize; }
.t-lowercase { text-transform : lowercase; }
.t-uppercase { text-transform : uppercase; }
/* end › transform */

/* text-shadow */
.soq { 
text-shadow : 2px 2px 4px rgb(0, 0, 0);
color : rgb(255, 255, 255);
}

.skuk {
text-shadow : 1px 1px 2px rgb(0, 0, 0), 0 0 25px blue, 0 0 5px darkblue;
color : rgb(255, 255, 255);
}
/* end › text-shadow */

/* box-shadow */
.soya { box-shadow : 10px 10px 5px grey; }
.soya-border-full { box-shadow : 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
/* end › box-shadow */

/* spacing */
.lspacing { letter-spacing : 3px; }
.llspacing { letter-spacing : -3px; }

.wspacing { word-spacing : -0.3125em; }
.wwspacing { word-spacing : 0.625em; }
/* end › spacing */

/* border */
[class|="bd"] { margin: 10px; padding: 10px; border: 5px;
} .bd-dotted { border: dotted;
} .bd-dashed { border: dashed;
} .bd-solid { border: solid;
} .bd-double { border: double;
} .bd-groove { border: groove;
} .bd-ridge { border: ridge;
} .bd-inset { border-style: inset;
} .bd-outset { border-style: outset;
} .bd-none { border-style: none;
} .bd-hidden { border-style: hidden;
} .bd-mix { border-style: dotted dashed solid double;}
/* end › border */

/* outline */
.oinset {
-webkit-outline-style : inset;
outline-style : inset;
} .osolid {
-webkit-outline-style : solid;
outline-style : solid;
} .oridge {
-webkit-outline-style : ridge;
outline-style : ridge;
} .ooutset {
-webkit-outline-style : outset;
outline-style : outset;
} .odotted {
-webkit-outline-style : dotted;
outline-style : dotted;
} .odouble {
-webkit-outline-style : double;
outline-style : double;
} .ogroove {
-webkit-outline-style : groove;
outline-style : groove;
} .odashed {
-webkit-outline-style : dashed;
outline-style : dashed;
}
/* end › outline */

 span.crosshair { cursor: crosshair;
} span.help { cursor: help;
} span.wait { cursor: wait;
} span.alias { cursor: alias;
} span.all-scroll { cursor: all-scroll;
} span.auto { cursor: auto;
} span.cell { cursor: cell;
} span.context-menu { cursor: context-menu;
} span.col-resize { cursor: col-resize;
} span.copy { cursor: copy;
} span.crosshair { cursor: crosshair;
} span.default { cursor: default;
} span.e-resize { cursor: e-resize;
} span.n-resize { cursor: n-resize;
} span.ne-resize { cursor: ne-resize;
} span.ew-resize { cursor: ew-resize;
} span.grab { cursor: grab;
} span.grabbing { cursor: grabbing;
} span.move { cursor: move;
} span.nesw-resize { cursor: nesw-resize;
} span.ns-resize	 { cursor: ns-resize	;
} span.nw-resize { cursor: nw-resize;
} span.nwse-resize { cursor: nwse-resize;
} span.no-drop { cursor: no-drop;
} span.none { cursor: none;
} span.not-allowed { cursor: not-allowed;
} span.pointer { cursor: pointer;
} span.progress { cursor: progress;
} span.row-resize { cursor: row-resize;
} span.s-resize { cursor: s-resize;
} span.se-resize { cursor: se-resize;
} span.sw-resize { cursor: sw-resize;
} span.URL { cursor: URL;
} span.vertical-text { cursor: vertical-text;
} span.w-resize { cursor: w-resize;
} span.zoom-in { cursor: zoom-in;
} span.zoom-out { cursor: zoom-out;
} span.initial { cursor: initial;
} span.inherit { cursor: inherit;
}
/* list */
.lnone { list-style : none; }
.lcircle { list-style : circle; }
.lspuare { list-style : spuare; }
.lalpha { list-style : lower-alpha; }
.lroman { list-style : upper-roman; }
/* end › list */

/* image */
img {width : 100%; height : auto; }
img [class="r50"] { border-radius : 50%; }
img:hover { opacity : 0.5; transform : scaleX(-1); }

/* img › filter */
img .opacity-3 {
opacity: 0.3;
filter: alpha(opacity=30);
-webkit-filter: alpha(opacity=30);
} img .opacity-6 {
opacity: 0.6;
filter: alpha(opacity=60);
-webkit-filter: alpha(opacity=60);
} img .opacity-9 {
opacity: 0.9;
filter: alpha(opacity=90);
-webkit-filter: alpha(opacity=90);
} img .opacity-1 {
opacity: 1.0;
filter: alpha(opacity=100);
-webkit-filter: alpha(opacity=100);
} img.blur {
-webkit-filter: blur(4px);
filter: blur(4px);
} img.brightness {
-webkit-filter: brightness(0.30);
filter: brightness(0.30);
} img.contrast {
-webkit-filter: contrast(180%);
filter: contrast(180%);
} img.grayscale {
-webkit-filter: grayscale(100%);
filter: grayscale(100%);
} img.huerotate {
-webkit-filter: hue-rotate(180deg);
filter: hue-rotate(180deg);
} img.invert {
-webkit-filter: invert(100%);
filter: invert(100%);
} img.opacity {
-webkit-filter: opacity(50%);
filter: opacity(50%);
} img.saturate {
-webkit-filter: saturate(7);
filter: saturate(7);
} img.sepia {
-webkit-filter: sepia(100%);
filter: sepia(100%);
} img.shadow {
-webkit-filter: drop-shadow(8px 8px 10px green);
filter: drop-shadow(8px 8px 10px green);
}
/* end › img › filter */
/* end › image */

/* text column */
.tcolumn_2 {
border : none;
padding : 15px;
column-count : 2;
column-span : all;
column-gap : 40px;
column-rule : #909090 1px solid;
} .tcolumn_3 {
border : none;
padding : 15px;
column-count : 3;
column-span : all;
column-gap : 40px;
} .tcolumn_4 {
border : none;
padding : 15px;
column-count : 4;
column-span : all;
}
/* end › text column */

/* text tooltip */
.tooltip {
zcursor: help;
position: relative;
display: inline-block;
border-bottom: 1px dotted #ccc;
color: #006080;
} .tooltip > .tooltiptext {
visibility: hidden;
position: absolute;
width: 120px;
background: #555; color: #fff;
text-align: center;
padding: 5px 0;
border-radius: 6px;
z-index: 1;
opacity: 0;
transition: opacity 1s;
} .tooltip:hover .tooltiptext {
visibility: visible;
opacity: 1;
}

.tooltip-top {
bottom: 125%;
left: 50%;
margin-left: -60px;
} .tooltip-top::after {
content: "";
position: absolute;
top: 100%;
left: 50%;
margin-left: -5px;
border: 5px solid;
border-color: #555 transparent transparent transparent;
}

.tooltip-bottom {
top: 135%;
left: 50%;
margin-left: -60px;
} .tooltip-bottom::after {
content: "";
position: absolute;
bottom: 100%;
left: 50%;
margin-left: -5px;
border: 5px solid;
border-color: transparent transparent #555 transparent;
}

.tooltip-left {
top: -5px;
bottom:auto;
right: 128%;
} .tooltip-left::after {
content: "";
position: absolute;
top: 50%;
left: 100%;
margin-top: -5px;
border: 5px solid;
border-color: transparent transparent transparent #555;
} 

.tooltip-right {
top: -5px;
left: 125%;
} .tooltip-right::after {
content: "";
position: absolute;
top: 50%;
right: 100%;
margin-top: -5px;
border: 5px solid;
border-color: transparent #555 transparent transparent;
}

/*
* CSS › Powered by AsaUz
* CSS › Edit: 03.05.2019
* Link: https://t.me/asa_uz
*/
